@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <h4 class="text-danger">Public info</h4>
            <div class="form-group">
                <label asp-for="Input.ImageUrl" class="control-label"></label>
                <a href="Input.ImageUrl" target="_blank">Preview current image</a>
                <input asp-for="Input.ImageUrl" id="userIamgeUrl" class="form-control" />
                <span asp-validation-for="Input.ImageUrl" class="text-danger"></span>
            </div>
            <p>or</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="Input.ImageContent" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Country"></label>
                <input asp-for="Input.Country" class="form-control" />
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ContactEmail"></label>
                <input asp-for="Input.ContactEmail" class="form-control" />
                <span asp-validation-for="Input.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConntactPhone"></label>
                <input asp-for="Input.ConntactPhone" class="form-control" />
                <span asp-validation-for="Input.ConntactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Social"></label>
                <textarea asp-for="Input.Social" placeholder="Facebook - someone @(Environment.NewLine)Instagram - someone" class="form-control" rows="4"> </textarea>
                <span asp-validation-for="Input.Social" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#inputGroupFile01').change(function () {
            $('#userIamgeUrl').val($(this).val());
            document.getElementById('userIamgeUrl').readOnly = true; 

        });
    </script>
    }