@using EssayCompetition.Web.ViewModels.Administration.Roles
@model EditViewModel
@{
    ViewData["Title"] = "Edit";
    var AllRoles = Model.AllAvailableRoles.Select(x => new SelectListItem(x.Name, x.Id));
}
<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToRole" method="post">
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="UserName"  id="hidUserNameId" />
            <input type="hidden" asp-for="Email"  id="hidUserEmail"/>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div>
                <select asp-for="RoleId" asp-items="AllRoles" class="form-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </form>
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input id="userNameId" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input id="emailId" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Roles
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RolesNames)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item)
                            </td>
                            <td>
                                <a asp-action="DeleteUserRole" asp-route-id="@Model.Id" asp-route-roleName="@item">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{ 
<script>
    $('#userNameId').change(function() {
        $('#hidUserNameId').val($(this).val());
});
</script>

<script>
    $('#emailId').change(function () {
        $('#hidUserEmail').val($(this).val());
    });
</script>
}