@{
    this.ViewData["Title"] = "About Page";
    this.ViewData["ImagePath"] = "~/img/about-bg.jpg";
    this.Layout = "_CustomLayout";
    this.ViewData["ImageH1Text"] = "About";
    this.ViewData["ImageSpanText"] = "Information about site";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>This site is designed for people who want to compete with others</p>
            <p>There are competitions and the teachers grade them. To be in a competition you have to regiser in the next competition</p>
        </div>
    </div>
</div>

<hr>