@{
    this.ViewData["Title"] = "Home Page";
    this.ViewData["ImagePath"] = "img/about-bg.jpg";
    this.Layout = "_CustomLayout";
}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    </div>

    <hr>