@using EssayCompetition.Web.ViewModels.Contest.Dashboard
@model IndexViewModel
@{
    this.ViewData["Title"] = "Dashboard Page";
    this.ViewData["ImagePath"] = "img/home-bg.jpg";
    this.Layout = "_CustomLayout";
    this.ViewData["ImageH1Text"] = "Contest";
    this.ViewData["ImageSpanText"] = "Write your contest essay";
}
<h1>@this.ViewData["Title"]</h1>
<h4><a asp-action="Review" asp-area="Contest" asp-controller="Dashboard" asp-route-id="@Model.Id">@Model.ContestInfo</a></h4>

<div class="container">
    <div class="col-lg-12 col-md-12 mx-auto">
        @if (TempData["FormResult"] != null)
        {
            <div class="alert alert-info fade show" role="alert">
                @TempData["FormResult"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="d-flex justify-content-between">
            <div>
                @if (Model.HasContextNow && Model.UserRegistredForContext)
                {
                    <a asp-area="Contest" asp-controller="Create"><i class="fa fa-book-reader">Create essay</i></a><br />
                }
                <a asp-area="Contest" asp-controller="Sign" class="fa fa-sign-in-alt">Sign for next contest</a><br />
                <a asp-area="Contest" asp-controller="MyEssay" class="fa fa-envelope-square">My Essays</a>

            </div>
        </div>
    </div>
</div>
<hr>