@using EssayCompetition.Web.ViewModels.Administration.Category
@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (var caregory in this.Model.AllCategories)
{
    <p>@caregory.Title</p>
    <p>@caregory.Description</p>
    <p>@caregory.ImageUrl</p>
}
